.skill {
    position: relative;
    padding: 0 0 50px 0;
}

.skill h5 {
    font-size: 35px;
    font-weight: 700;    
}

.skill-slider .slide {
    width: 50%;
    margin: 0 auto 15px auto;
   
}

.slide {
    background: rgb(0,173,181);
    background: radial-gradient(circle, rgba(0,173,181,1) 0%, rgba(0,212,255,1) 61%);
}